@use "./variables";

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

.proBtn {
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    align-items: center;
    background-color: variables.$secondary;
    border-radius: 3px;
    padding: 8px 30px;
    margin-top: 10px;
    color: variables.$primary;
}


.proBtn .btn {
    background-color: variables.$tertiary;
    color: variables.$secondary;
    margin: 0 5px;
}