@use "./variables";



h1 {
    color: variables.$smokeyBlack;
    text-align: center;
}

.headerHome {
    text-align: center;
    padding: 50px 0;

}

.navWrapper {
    max-width: 1260px;
    padding: 25px 25px 25px;
    width: 100%;
    background-color: variables.$tertiary;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    color: variables.$smokeyBlack;
}

.navWrapper li {
    margin-left: 25px;
}