@use "./variables";

.skillsBg {
    background: variables.$primary;
    padding: 25px
}

.skillsBg h2 {
    color: variables.$smokeyBlack;
    text-align: center;
}

.skillsBg ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsBg li {
    width: 25%;
}

.skillsBg p {
    text-align: center;
    padding-bottom: 10px;
}

.skillsBlurb p {
    text-align: left;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    & i:hover {
        transform: scale(1.1);
        color: variables.$quartenary;
    }

    & i:focus {
        transform: scale(1.1);
    }
}