@use "./variables";

.skillsBg {
    background: variables.$primary;
    padding: 25px
}

.skillsBg ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsBg li {
    width: 25%;
}

.skillsBg p {
    text-align: center;
}

.skillsBlurb p {
    text-align: left;
}

// .skills li p::before {
//     content: "\2022";
//     // Add content: \2022 is the CSS Code/unicode for a bullet
//     color: variables.$tertiary;
//     font-weight: bold;
//     display: inline-block;
//     width: 1em;
//     margin-left: -1em;

// }