@use "./variables";

.projects {
    margin: 0 auto;
    background-color: variables.$quartenary;
    padding: 50px 0;
}

.projects h2 {
    color: variables.$smokeyBlack
}

.projectOne {
    display: flex;
}

.projectTwo {
    display: flex;
}

.projectThree {
    display: flex;
}

.projectOneInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.projectTwoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.projectThreeInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.projectOneImage {
    width: 57%;
    padding-bottom: 20px;
}

.projectTwoImage {
    width: 57%;
    padding-bottom: 20px;
}

.projectThreeImage {
    width: 57%;
    padding-bottom: 20px;
}


.projectOneImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}

.projectTwoImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}

.projectThreeImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}