@use "./variables";

.projectsSection {
    margin: 0 auto;
    background-color: variables.$quartenary;
    padding: 25px 0;
}

.projectsSection h2 {
    color: variables.$smokeyBlack;
    padding-bottom: 15px;
    text-align: center;
}

.project {
    width: 50%;
}

.projectOne {
    display: flex;
}

.projectTwo {
    display: flex;
}

.projectThree {
    display: flex;
}

.projectFour {
    display: flex;
}

.projectOneInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 50%;
}

.projectTwoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 50%;
}

.projectThreeInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 50%;
}

.projectFourInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 50%;
}

.projectOneImage {
    padding-bottom: 20px;
}

.projectTwoImage {
    padding-bottom: 20px;
}

.projectThreeImage {
    padding-bottom: 20px;
}

.projectFourImage {
    padding-bottom: 20px;
}

.projectOneImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}

.projectTwoImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}

.projectThreeImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}

.projectFourImage img {
    justify-content: end;
    display: flex;
    width: 90.5%;
}