@use "./variables";


.getInTouch {
    background-color: variables.$tertiary;
    padding: 50px 0;

}

.contactUs {
    display: flex;
}


.socials {
    width: calc(100% / 3);
}


.contactSocialMedia {
    display: flex;
    padding-bottom: 15px;

    li {
        padding-right: 5px;
        list-style: none;

    }
}

.formBlog {
    height: 200px;
    padding-top: 30px;
    padding-left: 20px;
    background: #EAFEFC;
}

.gitForm {
    width: calc(100% * (2 / 3));
    width: 100%;
    margin: 0 auto;

    .formBtn {
        display: block;
        align-items: center;
    }

    textArea {
        width: 100%;
    }

    .formInputFlex {
        display: flex;
        flex-direction: column;
        padding: 3px 0;

        .inputFlex {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

}

.contactSocialMedia a {
    color: variables.$primary;
    padding-right: 20px;
}